/**
Styling the entire site
*/

@font-face {
  font-family: "ABCFavorit-Bold";
  src: url("./ABCFavorit-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

body {
  --font-family: "Inter", Helvetica Neue, sans-serif;
  --container-lg: 1536px;
  --hub-playground-width: 530px;
  --markdown-title-marginTop: 1.5em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "ABCFavorit-Bold", sans-serif;
}

body .App .rdmd-html {
  margin-bottom: 26px !important;
}

body .rm-Sidebar-list .rm-Sidebar-link {
  font-size: 15px;
}

body .App .rm-Guides,
body .App .rm-ReferenceMain,
body .App .rm-CustomPage {
  --markdown-font-size: 16px;
}

.InputGroup-input {
  text-security: disc;
  -webkit-text-security: disc;
}

/**
Styling darkmode globals
*/

[data-color-mode="dark"] {
  color-scheme: dark !important;
}

[data-color-mode="dark"] body {
  --color-text-default: #ededf2 !important;
  --color-link-default: #ceced2 !important;
  --color-bg-page: #1c1c20 !important;
  --color-bg-page-rgb: #1c1c20 !important;
  --color-input-background: #000000 !important;
  --color-input-border: var(--md-code-background) !important;
  --color-input-border-hover: #1c1c20 !important;
}

/**
Styling the darkmode site
*/

[data-color-mode="dark"] .App .rm-SuggestedEdits .markdown-body a,
[data-color-mode="dark"] .App .rm-SuggestedEdits .content-body a,
[data-color-mode="dark"] .App .rm-SuggestionDiff .markdown-body a,
[data-color-mode="dark"] .App .rm-SuggestionDiff .content-body a,
[data-color-mode="dark"] .App .rm-Guides .markdown-body a,
[data-color-mode="dark"] .App .rm-Guides .content-body a,
[data-color-mode="dark"] .App .rm-ReferenceMain .markdown-body a,
[data-color-mode="dark"] .App .rm-ReferenceMain .content-body a,
[data-color-mode="dark"] .App .rm-Changelog .markdown-body a,
[data-color-mode="dark"] .App .rm-Changelog .content-body a,
[data-color-mode="dark"] .App .rm-Discuss .markdown-body a,
[data-color-mode="dark"] .App .rm-Discuss .content-body a,
[data-color-mode="dark"] .App .rm-CustomPage .markdown-body a,
[data-color-mode="dark"] .App .rm-CustomPage .content-body a {
  color: var(--color-link-default);
}

/**
External links
*/

a[target="_blank"]:not(:has(i))::after,
a[to*="https://"]::after
{
  speak: never;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-left: 8px;
  font-size: 0.8em;
  opacity: 0.6;
  font-family: "Font Awesome 6 Pro";
  content: "\f08e";
}

/**
DG classes
*/

[data-color-mode="dark"] .App .rdmd-html span.dg-badge,
[data-color-mode="dark"] .App .rdmd-html a.dg-badge {
  margin-right: 6px;
  color: var(--color-text-default);
  padding: 8px 16px;
  text-decoration: none;
  border-radius: 8px;

  background-origin: border-box;
  border: solid 2px transparent;
  background-image: linear-gradient(90deg, #201cff -91.5%, #13ef95 80.05%);
  box-shadow: 2px 1000px 1px var(--md-code-background) inset;
}

[data-color-mode="dark"] .App .rdmd-html span.dg-badge::before,
[data-color-mode="dark"] .App .rdmd-html a.dg-badge::before {
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  background: inherit;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Font Awesome 6 Pro";
}

[data-color-mode="dark"] .App .rdmd-html span.dg-badge.live::before,
[data-color-mode="dark"] .App .rdmd-html a.dg-badge.live::before,
[data-color-mode="dark"] .App .rdmd-html span.dg-badge.prerecorded::before,
[data-color-mode="dark"] .App .rdmd-html a.dg-badge.prerecorded::before {
  margin-right: 8px;
}

[data-color-mode="dark"] .App .rdmd-html span.dg-badge.prerecorded::before,
[data-color-mode="dark"] .App .rdmd-html a.dg-badge.prerecorded::before {
  font-weight: 900;
  content: "\f15b";
}

[data-color-mode="dark"] .App .rdmd-html span.dg-badge.live::before,
[data-color-mode="dark"] .App .rdmd-html a.dg-badge.live::before {
  content: "\f8f2";
}

[data-color-mode="dark"] .App .rdmd-html span.dg-badge.beta,
[data-color-mode="dark"] .App .rdmd-html a.dg-badge.beta {
  background-image: linear-gradient(82.38deg, #ff2eea -99.24%, #4b3cff 99.26%);
}

[data-color-mode="dark"] .App .rdmd-html span.dg-badge.unavailable,
[data-color-mode="dark"] .App .rdmd-html a.dg-badge.unavailable {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-decoration: line-through;
  color: #a9a9ad;
  background: #2c2c33;
}

[data-color-mode="dark"] .App .rdmd-html span.dg-badge.unavailable::before,
[data-color-mode="dark"] .App .rdmd-html a.dg-badge.unavailable::before {
  background: var(--md-code-background);
  background-clip: unset;
  -webkit-background-clip: unset;
  -webkit-text-fill-color: unset;
  color: currentColor;
}

[data-color-mode="dark"] .starter-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

[data-color-mode="dark"] .starter-card {
  display: block;
  justify-content: center;
  text-align: center;
  border: 2px solid #2c2c33;
  background: var(--md-code-background);
  color: var(--color-text-default);
  padding: 8px 16px;
  text-decoration: none !important;
  border-radius: 8px;
}

[data-color-mode="dark"] .starter-card:hover {
  border: 2px solid var(--color-link-default);
}

/**
Resets for "header-bottom" nav.
*/

[data-color-mode="dark"] .rm-Header-bottom-link.Button:active,
[data-color-mode="dark"] .rm-Header-bottom-link.Button:focus-within {
  border-color: transparent !important;
}

[data-color-mode="dark"] .rm-Header-bottom-link:active,
[data-color-mode="dark"] .rm-Header-bottom-link {
  border: 0px solid transparent !important;
  border-bottom: solid 3px transparent !important;
  border-radius: 0px !important;
  background-color: transparent !important;
  outline: 0px !important;
  box-shadow: 3px 1000px 1px #101014 inset !important;
  padding: 16px !important;
}

/**
Styling for "header-bottom" nav.
*/

[data-color-mode="dark"] .rm-Container > nav {
  padding-bottom: 0px;
}

[data-color-mode="dark"] a.rm-Header-bottom-link:active,
[data-color-mode="dark"] a.rm-Header-bottom-link:hover,
[data-color-mode="dark"] a.rm-Header-bottom-link.active {
  background: linear-gradient(
    85.5deg,
    rgba(238, 2, 139, 1) 5.66%,
    rgba(174, 41, 255, 1) 99.14%
  ) !important;
  box-shadow: 3px 1000px 1px #101014 inset !important;
  background-origin: border-box !important;
}

/**
Styling for version pop-up box
*/
[data-color-mode="dark"] .tippy-box .Menu.Menu_light {
  background-image: linear-gradient(
    85.5deg,
    rgba(238, 2, 139, 0.4) 5.66%,
    rgba(174, 41, 255, 0.4) 99.14%
  );
  box-shadow: 2px 1000px 1px #101014 inset;
  background-origin: border-box;
  border: solid 2px transparent;
}

/**
Styling for glossary item and pop-up box
*/
[data-color-mode="dark"] .GlossaryItem-trigger {
  border-bottom: 2px solid #ef4ea2;
  border-style: dashed;
  border-top: none;
  border-left: none;
  border-right: none;
  cursor: pointer;
}

[data-color-mode="dark"] .GlossaryItem-tooltip-content {
  background-image: linear-gradient(
    85.5deg,
    rgba(238, 2, 139, 0.4) 5.66%,
    rgba(174, 41, 255, 0.4) 99.14%
  );
  box-shadow: 2px 1000px 1px #101014 inset;
  background-origin: border-box;
  border: solid 2px transparent;
}

/**
Styling the API ref parameters table, playground, request examples, and response.
*/

[data-color-mode="dark"] .rm-APILogInfo {
  --APILogInfo-bg: var(--md-code-background) !important;
}

[data-color-mode="dark"] .rm-APILogsTable {
  --APILogsTable-bg: var(--md-code-background) !important;
}

[data-color-mode="dark"] .InputGroup {
  --APIAuthInputGroup-bg: var(--md-code-background) !important;
}

[data-color-mode="dark"] .rm-PlaygroundRequest {
  --APIRequest-bg: var(--md-code-background) !important;
}

[data-color-mode="dark"]
  .rm-PlaygroundRequest
  .CodeSnippet
  .CodeMirror-gutters {
  background: var(--md-code-background) !important;
}

[data-color-mode="dark"] .rm-PlaygroundResponse {
  --APIResponse-bg: var(--md-code-background) !important;
}

[data-color-mode="dark"] .rm-ParamContainer {
  --ParamContainer-bg: var(--md-code-background) !important;
  --ParamContainer-bg-alt: var(--md-code-background) !important;
}

[data-color-mode="dark"] .rm-APIResponseSchemaPicker {
  --APIResponseSchemaPicker-bg: var(--md-code-background) !important;
  --APIResponseSchemaPicker-bg-alt: var(--md-code-background) !important;
  --APIResponseSchemaPicker-bg-hover: #1c1c20 !important;
}

[data-color-mode="dark"] .rm-Guides_loading {
  --Spinner-element: #1c1c20 !important;
  --Spinner-ring: #00e878 !important;
}

/** 
Styling sidebar links.
*/

[data-color-mode="dark"] body .rm-Sidebar a:hover,
[data-color-mode="dark"] body .rm-Sidebar a:focus {
  background: none;
}

[data-color-mode="dark"] body .rm-Sidebar a.active {
  color: #ef4ea2;
  background: none;
}

[data-color-mode="dark"] body a.rm-Sidebar-link:hover {
  color: var(--color-link-default);
}

/** 
Styling search background.
*/

[data-color-mode="dark"] #AppSearch {
  --AlgoliaSearch-background: 16, 16, 20 !important;
}

/** 
Styling code-blocks and tables in the reference and inline code everywhere.
*/

[data-color-mode="dark"] .App .rm-SuggestedEdits,
[data-color-mode="dark"] .App .rm-SuggestionDiff,
[data-color-mode="dark"] .App .rm-Guides,
[data-color-mode="dark"] .App .rm-ReferenceMain,
[data-color-mode="dark"] .App .rm-Changelog,
[data-color-mode="dark"] .App .rm-Discuss,
[data-color-mode="dark"] .App .rm-CustomPage {
  --md-code-background: #101014 !important;
  --md-code-tabs: transparent !important;
  --table-edges: #3a4348 !important;
  --table-head: var(--md-code-background) !important;
  --table-stripe: var(--md-code-background) !important;
}

[data-color-mode="dark"] *:not(pre) > code {
  border: 1px solid #2c2c33 !important;
  color: #fef0c7;
}

[data-color-mode="dark"] .CodeTabs-inner pre {
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 5px !important;
  border-bottom-right-radius: 5px !important;
}

[data-color-mode="dark"] .CodeTabs-toolbar {
  align-items: center;
  background-color: #28282b;
  justify-content: start;
}

[data-color-mode="dark"] .CodeTabs-toolbar button {
  padding-top: 0.6em;
}

[data-color-mode="dark"]
  .CodeTabs.CodeTabs_initial
  .CodeTabs-toolbar
  button:first-child,
[data-color-mode="dark"] .CodeTabs-toolbar button.CodeTabs_active {
  background-image: linear-gradient(
    85.5deg,
    #ee028b 5.66%,
    #ae29ff 99.14%
  ) !important;
  box-shadow: 3px 1000px 1px #101014 inset !important;
}

[data-color-mode="dark"] .CodeTabs-toolbar button {
  min-width: 90px !important;
  padding-left: 16px !important;
  padding-right: 16px !important;
  background-origin: border-box !important;
  border-bottom: solid 3px transparent !important;
}

/**
Callout styling
*/

.markdown-body .callout {
  --text: var(--color-text-default);
}

.markdown-body .callout.callout_default {
  --background: var(--md-code-background);
  --border: var(--color-text-default);
  --title: var(--color-text-default);
}

.markdown-body .callout.callout_info {
  --title: #1c6fd6;
  --background: #1c2d44;
  --border: #1c6fd6;

  --emoji: unset;
  --icon: "\f05a";
  --icon-color: var(--color-text-default);
}

.markdown-body .callout.callout_okay {
  --title: #00e878;
  --background: #00e87810;
  --border: #00e878;

  --emoji: unset;
  --icon: "\f058";
  --icon-color: var(--color-text-default);
}

.markdown-body .callout.callout_warn {
  --title: #fdb022;
  --background: #fdb02210;
  --border: #fdb022;

  --emoji: unset;
  --icon: "\f071";
  --icon-color: var(--color-text-default);
}

.markdown-body .callout.callout_error {
  --title: #f97066;
  --background: #f9706610;
  --border: #f97066;

  --emoji: unset;
  --icon: "\f057";
  --icon-color: var(--color-text-default);
}

.markdown-body .callout[theme="🌐"] {
  background-origin: border-box !important;
  border-left: solid 3px transparent !important;
  background-image: linear-gradient(2.23deg, #201cff -19.1%, #13ef95 84.06%);
  box-shadow: 3px 1000px 1px #101014 inset !important;

  --emoji: unset;
  --icon: "\f0ac";
  --icon-color: var(--color-text-default);
}

.markdown-body .callout[theme="🌈"] {
  background-origin: border-box !important;
  border: solid 3px transparent !important;
  background-image: linear-gradient(
    82.38deg,
    #ff2eea -99.24%,
    #4b3cff 99.26%
  ) !important;
  box-shadow: 3px 1000px 1px #101014 inset !important;

  --emoji: unset;
}

/**
HTTP request types
*/

body .APIMethod_fixedWidth {
  width: 55px;
}

body .APIMethod {
  border-radius: calc(var(--border-radius) * 2.5);
  height: auto;
  padding: 2px;
}

body .APIMethod_post,
body .APIMethod_cnnct {
  background: #1c2d44;
  border: 2px solid #1c6fd6;
  text-shadow: none;
}

body .APIMethod_error,
body .APIMethod_delete {
  background: #43211e;
  border: 2px solid #d92d20;
  text-shadow: none;
}

body .APIMethod_deprecated {
  background: #88888c80;
  border: 2px solid #88888c;
  text-shadow: none;
}

body .APIMethod_rqbdy,
body .APIMethod_rspns,
body .APIMethod_descr {
  background: #61616580;
  border: 2px solid #616165;
  text-shadow: none;
}

body .APIMethod_fn {
  background: #dd007080;
  border: 2px solid #dd0070;
  text-shadow: none;
}

body .APIMethod_head {
  background: #4e4e5280;
  border: 2px solid #4e4e52;
  text-shadow: none;
}

body .APIMethod_get {
  background: #184129;
  border: 2px solid #00cf56;
  text-shadow: none;
}

body .APIMethod_link {
  background: #12b76a80;
  border: 2px solid #12b76a;
  text-shadow: none;
}

body .APIMethod_optns {
  background: #fdb02280;
  border: 2px solid #fdb022;
  text-shadow: none;
}

body .APIMethod_patch {
  background: #442d19;
  border: 2px solid #dc6803;
  text-shadow: none;
}

body .APIMethod_put {
  background: #301847;
  border: 2px solid #7800ed;
  text-shadow: none;
}
