/**
Styling the entire site
*/

body {
  --container-lg: 1536px !important;
  --hub-playground-width: 530px !important;
}

/**
Styling darkmode globals
*/

[data-color-mode="dark"] body {
  --color-bg-page: #1c1c20 !important;
  --color-bg-page-rgb: #1c1c20 !important;
  --color-input-background: #000000 !important;
  --color-input-border: #101014 !important;
  --color-input-border-hover: #1c1c20 !important;
}

/**
Resets for "header-bottom" nav.
*/

[data-color-mode="dark"] .rm-Header-bottom-link.Button:active,
[data-color-mode="dark"] .rm-Header-bottom-link.Button:focus-within {
  border-color: transparent !important;
}

[data-color-mode="dark"] .rm-Header-bottom-link:active,
[data-color-mode="dark"] .rm-Header-bottom-link {
  border: 0px solid transparent !important;
  border-bottom: solid 2px transparent !important;
  border-radius: 0px !important;
  background-color: transparent !important;
  outline: 0px !important;
  box-shadow: 2px 1000px 1px #101014 inset !important;
  padding: 16px !important;
}

/**
Styling for "header-bottom" nav.
*/

[data-color-mode="dark"] .rm-Container > nav {
  padding-bottom: 0px;
}

[data-color-mode="dark"] a.rm-Header-bottom-link:active,
[data-color-mode="dark"] a.rm-Header-bottom-link:hover,
[data-color-mode="dark"] a.rm-Header-bottom-link.active {
  background: linear-gradient(
    85.5deg,
    rgba(238, 2, 139, 1) 5.66%,
    rgba(174, 41, 255, 1) 99.14%
  ) !important;
  box-shadow: 2px 1000px 1px #101014 inset !important;
  background-origin: border-box !important;
}

/**
Styling for version pop-up box
*/
[data-color-mode="dark"] .tippy-box .Menu.Menu_light {
  background-image: linear-gradient(
    85.5deg,
    rgba(238, 2, 139, 0.4) 5.66%,
    rgba(174, 41, 255, 0.4) 99.14%
  );
  box-shadow: 2px 1000px 1px #101014 inset;
  background-origin: border-box;
  border: solid 2px transparent;
}

/**
Styling the API ref parameters table, playground, request examples, and response.
*/

[data-color-mode="dark"] .rm-APILogInfo {
  --APILogInfo-bg: #101014 !important;
}

[data-color-mode="dark"] .rm-APILogsTable {
  --APILogsTable-bg: #101014 !important;
}

[data-color-mode="dark"] .InputGroup {
  --APIAuthInputGroup-bg: #101014 !important;
}

[data-color-mode="dark"] .rm-PlaygroundRequest {
  --APIRequest-bg: #101014 !important;
}

[data-color-mode="dark"]
  .rm-PlaygroundRequest
  .CodeSnippet
  .CodeMirror-gutters {
  background: #101014 !important;
}

[data-color-mode="dark"] .rm-PlaygroundResponse {
  --APIResponse-bg: #101014 !important;
}

[data-color-mode="dark"] .rm-ParamContainer {
  --ParamContainer-bg: #101014 !important;
  --ParamContainer-bg-alt: #101014 !important;
}

[data-color-mode="dark"] .rm-APIResponseSchemaPicker {
  --APIResponseSchemaPicker-bg: #101014 !important;
  --APIResponseSchemaPicker-bg-alt: #101014 !important;
  --APIResponseSchemaPicker-bg-hover: #1c1c20 !important;
}

[data-color-mode="dark"] .rm-Guides_loading {
  --Spinner-element: #1c1c20 !important;
  --Spinner-ring: #00e878 !important;
}

[data-color-mode="dark"] .content-body a {
  color: #00e878 !important;
}

/** 
Styling sidebar links.
*/

[data-color-mode="dark"] .rm-Sidebar a.active {
  color: #ef4ea2 !important;
  background: none !important;
}

/** 
Styling search background.
*/

[data-color-mode="dark"] #AppSearch {
  --AlgoliaSearch-background: 16, 16, 20 !important;
}

/** 
Styling code-blocks in the reference and inline code everywhere.
*/

[data-color-mode="dark"] .App .rm-SuggestedEdits,
[data-color-mode="dark"] .App .rm-SuggestionDiff,
[data-color-mode="dark"] .App .rm-Guides,
[data-color-mode="dark"] .App .rm-ReferenceMain,
[data-color-mode="dark"] .App .rm-Changelog,
[data-color-mode="dark"] .App .rm-Discuss,
[data-color-mode="dark"] .App .rm-CustomPage {
  --md-code-background: #101014 !important;
  --md-code-tabs: transparent !important;
}

[data-color-mode="dark"] *:not(pre) > code {
  border: 1px solid #2c2c33 !important;
}

[data-color-mode="dark"] .CodeTabs-inner pre {
  border-radius: 5px !important;
}

[data-color-mode="dark"] .CodeTabs-toolbar {
  margin-left: 5px !important;
}

[data-color-mode="dark"]
  .CodeTabs.CodeTabs_initial
  .CodeTabs-toolbar
  button:first-child,
[data-color-mode="dark"] .CodeTabs-toolbar button.CodeTabs_active {
  background-image: linear-gradient(
    85.5deg,
    #ee028b 5.66%,
    #ae29ff 99.14%
  ) !important;
  box-shadow: 2px 1000px 1px #101014 inset !important;
}

[data-color-mode="dark"] .CodeTabs-toolbar button {
  min-width: 90px !important;
  padding-left: 16px !important;
  padding-right: 16px !important;
  background-origin: border-box !important;
  border-bottom: solid 2px transparent !important;
}
